/* Generic */
table {
    font-size: 0.8em;
}

th {
    font-size: 1.2em;
}

th a {
    text-decoration: none;
    color: #000;
}

span.bad, span.good {
    padding: 0 3px;
    background: #FCC;
}

span.good {
    background: #CFC;
}

/* wiki data */
tr[data-open="0"] {
    color: #666;
}

tr[data-open="0"] .wiki:after {
    content: ' (closed)';
}

/* user data */
.account-id {
    color: gray;
}

tr[data-exists="0"],
tr[data-groups="0"] td.groups,
tr[data-global-groups="0"] td.global-groups,
tr[data-blocked="0"] td.blocks {
    background: #CCC;
    color: #666;
}

tr[data-groups="1"] td.groups,
tr[data-global-groups="1"] td.global-groups,
tr[data-unified="1"] td.unification {
    background: #CFC;
}

tr[data-unified="0"] td.unification,
tr[data-blocked="1"] td.blocks {
    background: #FCC;
}

tr[data-unified="0"][data-unifiable="0"] td.unification {
    background: #CFC;
}

td.edit-count {
    text-align: right;
}

td.edit-count span {
    color: #FFF;
    font-size: 1px;
}

/* charts */
#account-charts {
    margin: 0.5em 1em;
}

#account-charts .chart {
    display: inline-block;
    width: 490px;
    max-width: 100%;
    height: 370px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

#account-charts .chart:first-of-type {
    margin-right: -1px; /* merge borders */
}
