/* Generic */
table {
	font-size: 0.8em;
}

th {
	font-size: 1.2em;
}

th a {
	text-decoration: none;
	color: #000;
}

span.bad, span.good {
	padding: 0 3px;
	background: #FCC;
}

span.good {
	background: #CFC;
}

/* wiki data */
.wiki-open-0 {
	color: gray;
}

.wiki-open-0 .wiki:after {
	content: ' (closed)';
}

/* user data */
.user-exists-0 {
	background: #CCC;
	text-decoration: line-through;
}

.user-exists-0 td.edit-count span {
	color: #CCC;
}

.user-in-groups-0 td.groups {
	background: #CCC;
}

.user-in-groups-1 td.groups {
	background: #CFC;
}

td.edit-count {
	text-align: right;
}

td.edit-count span {
	color: #FFF;
	font-size: 1px;
}

.user-unified-1 td.unification {
	background: #CFC;
}

.user-unified-0 td.unification {
	background: #FCC;
}

.user-blocked-1 td.blocks {
	background: #FCC;
}

.user-blocked-0 td.blocks {
	background: #CCC;
}

/* IP data */
.ip-blocked-0 td.blocks {
	background: #CCC;
}

.ip-blocked-1 td.blocks {
	background: #FCC;
}

/* visualizations */
#account-visualizations {
	margin:1em 1em 1em 2em;
}

#account-visualizations .viz-chart {
	float: left;
	margin-right:2em;
}