#tsre
{
	position: relative;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid #AAA;
	border-radius: 15px;
	line-height: normal;
}

.tsre-close
{
	position: absolute;
	top: 10px;
	right: 10px;
}

.tsre-warning
{
	color: red;
}

.tsre-sessions
{
	color: #AAA;
}

.tsre-session-tag
{
	border: 1px solid #057BAC;
	border-radius: 2px;
	background: #1DA1D8;
	padding: 0 2px;
}

.tsre-session-tag a
{
	color: #FFF;
}

a.tsre-delete-session
{
	color: red;
	font-family: monospace;
	font-weight: bold;
}
